// Generate some nice CSS using the same variables as Bootstrap, to match

@import "variables.less";
@import "mixins.less";

@ruleHeight: 2px;
@ruleWidth: 100%;

// colour the front page "go" button orange
.btn-wedding {
  .buttonBackground(@thirdBrandColor, spin(@thirdBrandColor, 20%));
}

.fp-block {
  margin: 3ex 0px 4ex 0;
  // shrink-wrap div, see http://stackoverflow.com/a/3569570
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

hr.wedding-rule-1 {
  color: @mainBrandColor; 
  background-color: @mainBrandColor;
  height: @ruleHeight;
  width: @ruleWidth;
  border: none;
}

hr.wedding-rule-2 {
  color: @secondBrandColor; 
  background-color: @secondBrandColor;
  height: @ruleHeight;
  width: @ruleWidth;
  border: none;
}

hr.wedding-rule-3 {
  color: @thirdBrandColor; 
  background-color: @thirdBrandColor;
  height: @ruleHeight;
  width: @ruleWidth;
  border: none;
}

// padding on the sections layout to accommodate navbar
section {
  padding-top: @navbarHeight + @navbarTop + @navImageClearance;
}
// but not on the first section
section.first {
  padding-top: @navImageClearance;
}
section.first-no-title {
  padding-top: @navImageClearance + 20px;
}

// links in the footer
footer a {
  color: @black
}

footer {
  padding-bottom: 10px;
  padding-top: @navbarHeight + @navbarTop + @navImageClearance;

}

// size the menu buttons to match the RSVP radio buttons
.btn-food {
  width: 270px; // ugly hard-coded size
}


// Bootstrap overrides
legend {
  font-family: @serifFontFamily;
  border-bottom: 1px solid @mainBrandColor;
}

.navbar {
  font-family: @serifFontFamily;
  font-size: 16px;
  top: @navbarTop;
}

// white and image behind the navbar to hide the text when we scroll
.navbar-above {
  background-image: url("../images/background.png");
  background-repeat:no-repeat;
  background-color: transparent;
  height: 150px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: @zindexFixedNavbar;
}

.navbar-behind{
  background-image: url("../images/lines.png");
  background-repeat:repeat-x;
  height: 150px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: @zindexFixedNavbar;
}

.navbar .nav {
  left: 100px;
}

.well {
  border-color: @mainBrandColor;
  border-width: 2px;
  font-family: @serifFontFamily;
}

.well ul {
  padding-top: @navImageClearance + 40px;
}

.well .nav {
  margin-bottom: 0;
}

.well a {
  color: @mainBrandColor;
}

.well>.nav-pills>.active>a, .well>.nav-pills>.active>a:hover, .well>.nav-pills>.active>a:focus {
  color: @mainBrandColor;
  background-color: @navbarLinkBackgroundActive;
}


.modal-input {
  width: 515px;
}

body {
  text-align: justify;
}

.page-header {
  border-bottom: none;
  padding-top: @navImageClearance;
}

// style h2 like legends
h2 {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @baseLineHeight;
  font-size: @baseFontSize * 1.5;
  line-height: @baseLineHeight * 2;
  color: @grayDark;
  border: 0;
  border-bottom: 2px solid @secondBrandColor;

  // Small
  small {
    font-size: @baseLineHeight * .75;
    color: @grayLight;
  }
}

// extra spacing between menu items
dd+dt {
   padding-top: @baseLineHeight;
}

// extra space around google maps
.embedded-gmap {
   padding-top: @baseLineHeight;
}

// spacing on the front page
form.form-rsvp {
   margin-top: 20px;
}